##############################################################################
#     Образ (собирается в GitHub Actions)
##############################################################################

IMAGE=ghcr.io/ВАШ_ЛОГИН/ИМЯ_ПАКЕТА:latest
CONTAINER_NAME=mc-forge


##############################################################################
#     Порты           
##############################################################################

MC_PORT=25565
RCON_PORT=25575
VOICE_PORT=24454

##############################################################################
#     Серверные настройки                                                                   
##############################################################################

MEMORY=8G
RCON_PASSWORD=замени-на-длинный-случайный-пароль
TZ=Europe/Moscow

##############################################################################
#     Пути на хосте                     
##############################################################################

# Относительно пути папки с docker-compose.yml.
WORLD_DIR=./world
CONFIG_DIR=./config
SSH_DIR=./ssh_dir

##############################################################################
#     Репозиторий с конфигами модов (пусто = не синхронизировать)              
##############################################################################

CONFIG_REPO=https://github.com/blastmerder/dragonsocket-config.git
CONFIG_BRANCH=main
